---
layout: default
id:     index
---

<section id="header" class="content covered">
  <h1>Parks by the people</h1>
</section>

<section id="description" class="content">
  <h1>公園に行ってますか？</h1>
  <p>
    もっとも身近な公共空間である「公園」。公園は、いつでも、だれでも、自由に使える場所です。
    あなたは、公園に何を求めますか？ 憩いの場所、遊ぶ場所、レクリエーションを楽しむ場所、コミュニケーションをとる場所など、人それぞれです。
  </p>
  <p>
    さて、あなたの近くにある公園は、どんな場所でしょうか？
  </p>
</section>

<section id="forgotten" class="content covered">
  <div class="background"></div>
  <div class="popup-box">
    <h1>使われない公園</h1>
    <p>
      忘れられてぼろぼろになった遊具、あなたの近くにありませんか？
    </p>
    <p>
      なぜ、使われなくなったのでしょうか。子供達が少なくなってきたから？ 遊具が古くなって使う人が減ってきたから？
    </p>
    <p>
      使われない公園は、逆に近寄りづらい存在になってしまいます。
    </p>
  </div>
</section>

<section id="stumped-about" class="content">
  <div id="stumped-about-mama"></div>
  <div class="popup-box">
    <h1>公共空間ってなんだろう？</h1>
    <p>
      せっかく近くにあるのに、遠い存在になっていませんか？ ちょっと直せば使えるものも、「誰か」のものだから手を付けづらい。。。
    </p>
    <p>
      公共は、誰かのものではありません。みんなのものです。不自由を感じているところを、変えていく必要があります。
    </p>
  </div>
</section>

<section id="wiped-out" class="content covered">
  <div class="background"></div>
  <div class="popup-box">
    <h1>荒れ果てた公園</h1>
    <p>
      ごみがなくならない公園、あなたの近くにありませんか？
    </p>
    <p>
      ゴミ箱のない公園も多くなっています。利便性を犠牲にして、様々な規制で息苦しくなっていませんか？
    </p>
  </div>
</section>

<section id="join-us" class="content">
  <h1>公園を自分たちの手で変えよう！</h1>
  <p>
    公園への想い、表に出てきていない意見がたくさんあるはずです。まずは、一歩を踏み出しましょう。
  </p>
  <p>
    その一歩を積み重ねることで、公園のあるべき姿が見えてくるはずです。そうすれば、そこに向けたアクションをとることができます。
  </p>
  <p>
    さぁ、一緒に活動しましょう！
  </p>
  <h2>イベントのご案内</h2>
  <div class="event-box">
    <h3>
      <a class="text-only" href="https://codeforchiba.doorkeeper.jp/events/32762">
        Parks by the people 始動
        <i class="fa fa-external-link"></i>
      </a>
    </h3>
    <p class="supplement">
      2015/10/22(木) 19:00 @ 千葉市中央コミュニティセンター
    </p>
    <p>
      Parks by the people のキックオフイベントを開催します。当日は、千葉市の公園管理課の方より、
      公園がどのように作られているのか？ どうやってルールが決められているのか？ などをレクチャーしていただきます。
    </p>
    <p>
      公園についての知識を深め、Parks by the people の活動へと繋げていきます。詳細は、
      <a class="text-only" href="https://codeforchiba.doorkeeper.jp/events/32762">
        イベントページ
        <i class="fa fa-external-link"></i>
      </a>
      をご覧ください。
    </p>
  </div>
  <h2>主催団体</h2>
  <div class="links">
    <a href="http://code4chiba.org/">
      <img src="images/logo.png" alt="Code for Chiba">
    </a>
  </div>
  <h2>Facebook / Twitter</h2>
  <div class="social-box">
    <div id="facebook-box">
      <div class="fb-page" data-href="https://www.facebook.com/codeforchiba" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
        <div class="fb-xfbml-parse-ignore">
          <blockquote cite="https://www.facebook.com/codeforchiba"><a href="https://www.facebook.com/codeforchiba">Code for Chiba</a>
          </blockquote>
        </div>
      </div>
    </div>
    <div id="twitter-box">
      <h2>#ParksByThePeople</h2>
      <ul class="buttons">
        <li>
          <a href="https://twitter.com/intent/tweet?button_hashtag=ParksByThePeople" class="twitter-hashtag-button" data-lang="ja" data-size="large" data-related="code4chiba">Tweet #ParksByThePeople</a>
        </li>
        <li>
          <a href="https://twitter.com/code4chiba" class="twitter-follow-button" data-show-count="false" data-lang="ja" data-size="large">@code4chibaさんをフォロー</a>
        </li>
      </ul>
    </div>
  </div>
</section>

{% include facebook.html %}
{% include twitter.html %}